.navbar {
    overflow: hidden;
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.container-fluid .navbar-collapse .nav-item a {
    color: #fff;
}


/*******************************banner************************************/

section .banner {
    background-color: #202020;
    /* border: red 1px solid; */
    height: 100vh;
}

.banner h5,
.banner span {
    color: #ffbd39;
}

.banner h2,
.banner p {
    color: #fff;
}

.banner img {
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-right: 0; */
}

.banner .container-fluid .col-md-6 {
    /* border: yellow 1px solid; */
    height: 100vh;
}

.banner .container-fluid .col-md-6 .hero-caption {
    /* border: plum 1px solid; */
    width: 100%;
    height: 100%;
    padding-left: 70px;
    /* padding-right: 70px; */
    padding-top: 15rem;
}

.banner .container-fluid .col-md-6 .hero-caption-full {
    width: 100%;
    /* height: 100%; */
    /* position: absolute; */
    /* border: blue 1px solid; */
    padding-left: 95px;
}


/* .banner .container-fluid .col-md-6 .heor-img {
    border: tomato 1px solid;
} */

.banner .container-fluid .col-md-6 .heor-img img {
    /* height: 100%;
    width: 100%;
    margin-right: 0; */
    /* border: green 1px solid; */
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 700px;
    height: 700px;
}


/*********************************content1***************************************/

section .content1 {
    background-color: #333533;
    /* border: red 1px solid; */
    height: 100vh;
}

.content1 {
    /* background-color: #312f2f; */
    /* background-color: #403D3C; */
    /* border: red 1px solid; */
    width: 100%;
    height: auto;
}

.content1 .about-info {
    /* border: #fff 1px solid; */
    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.content1 h4,
.content1 span {
    color: #ffbd39;
}

.content1 p {
    font-size: 1rem;
}

.content1 h2,
.content1 h5,
.content1 p {
    color: #fff;
}

.content1 .about-info ul {
    display: inline-block;
}

.content1 .about-info ul a {
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
}

.content1 .about-info li a {
    color: #fff;
}


/****************************content2**********************************/

section .content2 .ps-timeline-sec {
    background: #202020;
    height: 100vh;
    border: #202020 1px solid;
}


/* .ps-timeline-sec .container {
    position: relative;
} */

section .ps-timeline-sec {
    padding-top: 80px;
}

section .ps-timeline-sec h2 {
    text-align: center;
    color: #fff;
    /* border: red 1px solid; */
    /* padding-top: 50px; */
}

section .ps-timeline-sec h3 {
    color: #fff;
    padding-top: 40px;
}

section .ps-timeline-sec p {
    padding-top: 20px;
}

section .ps-timeline-sec h5,
section .ps-timeline-sec p {
    color: #fff;
}

.resume-item-box span {
    background: #ffbd39;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 14px;
    display: inline-block;
    border-radius: 20px;
}

.resume-item-box {
    margin-top: 30px;
    padding: 30px 20px;
    text-align: left;
    box-shadow: 0px 2px 5px #4d4b4b;
}


/***************************content3*******************************/

section .content3 {
    background-color: #333533;
    height: 100vh;
}

section .content3 .skill h2 {
    color: #fff;
    text-align: center;
}


/* * {
    box-sizing: border-box
} */

section .content3 .skill .container {
    width: auto;
    background-color: #ddd;
    padding: 0;
    border-radius: 25px;
}

section .content3 .container-fluid .row .col-md-6 {
    /* border: #ddd 1px solid; */
    height: 100vh;
}

section .content3 .container-fluid .row .col-md-6 .skill {
    /* border: red 1px solid; */
    height: auto;
    padding-top: 80px;
    width: 75%;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

section .content3 .skill {
    /* border: #0099FF 1px solid; */
}

section .content3 .skill p {
    text-align: left;
    color: #fff;
    /* border: yellow 1px solid; */
    margin-top: 10px;
    margin-bottom: 5px;
}

.skills {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}


/* .content3 .skill .container  */

.html,
.css,
.js,
.php,
.bootstrap,
.sql,
.angular,
.bi,
.figma,
.adobe,
.illustrator,
.ms {
    border-radius: 25px;
}

.html {
    width: 95%;
    background-color: #FF6633;
}

.css {
    width: 80%;
    background-color: #0099FF;
}

.js {
    width: 65%;
    background-color: #FFD166;
}

.php {
    width: 60%;
    background-color: #0066CC;
}

.bootstrap {
    width: 85%;
    background-color: #6633CC;
}

.sql {
    width: 70%;
    background-color: #FF8C00;
}

.angular {
    width: 65%;
    background-color: #CC0033;
}

.bi {
    width: 70%;
    background-color: #FFD700;
}

.figma {
    width: 80%;
    background-color: #2E8B57;
}

.adobe {
    width: 70%;
    background-color: #4EA8DE;
}

.illustrator {
    width: 70%;
    background-color: #FCA311;
}

.ms {
    width: 95%;
    background-color: #FC4121;
}


/*******************************/

.title-divider {
    width: 150px;
    height: 2px;
    background: #ffbd39;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-divider:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: -7px;
    margin: 0 auto;
    border: 3px solid #ffbd39;
}


/**************************content4***********************/

section .content4 {
    background-color: #202020;
    height: 100vh;
}

.container-fluid .col-md-12 h2 {
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.content4 .container-fluid slide {
    position: relative;
}

.content4 .container-fluid slide img {
    /* border: #CC0033 1px solid; */
    height: 500px;
    width: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/**************************content5***********************/

section .content5 {
    background-color: #333533;
    height: 100vh;
}

section .content5 h2 {
    text-align: center;
    color: #fff;
    padding-top: 70px;
}


/* .container-fluid .col-md-12 h2 {
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.content5 .container-fluid slide img {
    height: 500px;
    width: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.content5 .resume-item-box span {
    background: #ffbd39;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 14px;
    display: inline-block;
    border-radius: 20px;
}

.content5 .resume-item-box {
    margin-top: 20px;
    padding: 15px 10px;
    text-align: left;
    box-shadow: 0px 2px 5px #4d4b4b;
}

.content5 .resume-item-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content5 .ps-timeline-sec h5,
.content5 .ps-timeline-sec p {
    color: #fff;
}


/**************************content6***********************/

section .content6 {
    background-color: #202020;
    height: 100vh;
}

section .content6 h2 {
    text-align: center;
    color: #fff;
    padding-top: 70px;
}

section .content6 h4 {
    color: #fff;
    text-align: left;
}

.content6 h4 span {
    color: #ffbd39;
}

section .content6 .container .row .col-lg-6,
section .content6 .container .row .col-lg-12 {
    /* border: #CC0033 1px solid; */
    padding: 2.5px;
    margin-top: 7px;
}

.map-container-2 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}