<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>

<body>
    <nav class="navbar navbar-expand-md col-md-12" aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
            <div class="navbar-collapse collapse" id="navbarsExample09" style="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#content1">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#content2">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#content3">Skill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#content4">Certificate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#content5">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#content6">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Start-Banner-->
    <section>
        <div class="banner">
            <div class="banner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="hero-caption">
                                <div class="hero-caption-full">
                                    <h5>Hello !</h5>
                                    <h2>I'm Professional Web Designer &amp; <span>Website Developer  <i class="fa-solid fa-code"></i></span></h2>
                                    <br>
                                    <a href="#content1" class="button-1">About Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="heor-img">
                                <img src="assets/image/banner.png" alt="hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-Banner-->

    <!--Start-Content1-->
    <section id="content1">
        <div class="content1">
            <div class="content1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-info">
                                <h4>About Me</h4>
                                <br>
                                <h2>Hello! I'm <span>Kitikorn Noodum.</span> I'm Professional Web Designer &amp; <span>Website Developer.</span></h2>
                                <br>
                                <p><span>Name :</span> Kitikorn Noodum. <span>Nick name :</span> Bank <span>Age :</span> 23 years. <span>Current education :</span> 4th year Computer Science Science Bansomdetchaopraya Rajabhat University
                                    <span>Current address: :</span> Heng Dorm, Soi Itsaraphap 11, Hiranruchi Subdistrict, Thonburi District, Bangkok 10600 <span>character :</span> Laotian Personality Traits: Neat, easy to outgoing, willing to listen to
                                    others' opinions, learns quickly.</p>
                                <div class="about-social mt-20">
                                    <br>
                                    <span>Flow Me :  </span>
                                    <ul>
                                        <!-- Facebook -->
                                        <a href="https://www.facebook.com/banksorryza" target="blank"><i class="fab fa-facebook-f" style="color: #3b5998;"></i></a>
                                        <!-- Google -->
                                        <a href="#" target="blank"><i class="fab fa-google" style="color: #dd4b39;"></i></a>
                                        <!-- Instagram -->
                                        <a href="https://www.instagram.com/banklii_12/" target="blank"><i class="fab fa-instagram" style="color: #ac2bac;"></i></a>
                                        <!-- Stack overflow -->
                                        <a href="#" target="blank"><i class="fab fa-stack-overflow" style="color: #ffac44;"></i></a>
                                        <!-- Youtube -->
                                        <a href="#" target="blank"><i class="fab fa-youtube" style="color: #ed302f;"></i></a>
                                        <!-- Github -->
                                        <a href="https://github.com/Banklii" target="blank"><i class="fab fa-github" style="color: #fff;"></i></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-Content1-->

    <!--Start-Content2-->
    <section id="content2">
        <div class="content2">
            <div class="ps-timeline-sec">
                <h2>My Education</h2>
                <div class="title-divider"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="resume-item-box">
                                <span>2011</span>
                                <h3>Primary School</h3>
                                <h5>Thaplee Suriyawong School</h5>
                                <p>graduated from Prathom Suksa 6 at Thaplee Suriyawong School.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="resume-item-box">
                                <span>2017</span>
                                <h3>High School</h3>
                                <h5>Kraburi Witthaya School</h5>
                                <p>Graduated in Mathayom 6, Kraburi Witthaya School (Science-Mathematics).</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="resume-item-box">
                                <span>2022</span>
                                <h3>Bachelor's degree</h3>
                                <h5>Bansomdetchaopraya Rajabhat University</h5>
                                <p>studying in the 4th year of Bansomdetchaopraya Rajabhat University. Faculty of Science, Computer Science.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-Content2-->

    <!--Start-Content3-->
    <section id="content3">
        <div class="content3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skill">
                            <h2>Programming Skills</h2>
                            <div class="title-divider"></div>
                            <p><i class="fa-brands fa-html5" style='font-size:25px;color:#FF6633;'></i> HTML</p>
                            <div class="container">
                                <div class="skills html">95%</div>
                            </div>
                            <p><i class='fab fa-css3-alt' style='font-size:25px;color:#0099FF;'></i> CSS</p>
                            <div class="container">
                                <div class="skills css">80%</div>
                            </div>
                            <p><i class="fa-brands fa-js-square" style='font-size:25px;color:#FFD166;'></i> JavaScript</p>
                            <div class="container">
                                <div class="skills js">65%</div>
                            </div>
                            <p><i class="fa-brands fa-php" style='font-size:25px;color:#0066CC;'></i> PHP</p>
                            <div class="container">
                                <div class="skills php">60%</div>
                            </div>
                            <p><i class="fa-brands fa-bootstrap" style='font-size:25px;color:#6633CC;'></i> Bootstrap</p>
                            <div class="container">
                                <div class="skills bootstrap">85%</div>
                            </div>
                            <p><i class="fa-solid fa-database" style='font-size:25px;color:#FF8C00;'></i> SQL</p>
                            <div class="container">
                                <div class="skills sql">70%</div>
                            </div>
                            <p><i class="fa-brands fa-angular" style='font-size:25px;color:#CC0033;'></i> Angular</p>
                            <div class="container">
                                <div class="skills angular">65%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill">
                            <h2>Other Skills</h2>
                            <div class="title-divider"></div>
                            <p><i class="fa-solid fa-chart-column" style='font-size:25px;color:#FFD700;'></i> Microsoft Power BI</p>
                            <div class="container">
                                <div class="skills bi">70%</div>
                            </div>
                            <p><i class="fa-brands fa-figma" style='font-size:25px;color:#2E8B57;'></i> Figma</p>
                            <div class="container">
                                <div class="skills figma">80%</div>
                            </div>
                            <p><i class="fa-solid fa-images" style='font-size:25px;color:#4EA8DE;'></i> Adobe Photoshop</p>
                            <div class="container">
                                <div class="skills adobe">70%</div>
                            </div>
                            <p><i class="fa-solid fa-vector-square" style='font-size:25px;color:#FCA311;'></i> Adobe Illustrator</p>
                            <div class="container">
                                <div class="skills illustrator">70%</div>
                            </div>
                            <p><i class="fab fa-microsoft" style='font-size:25px;color:#FC4121;'></i> Microsoft Office</p>
                            <div class="container">
                                <div class="skills ms">95%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-Content3-->

    <!--Start-Content4-->
    <section id="content4">
        <div class="content4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Certificate</h2>
                        <div class="title-divider"></div>
                        <carousel>
                            <slide>
                                <img src="assets/image/a.png" alt="first slide">
                            </slide>
                            <slide>
                                <img src="assets/image/b.png" alt="second">
                            </slide>
                            <slide>
                                <img src="assets/image/c.png" alt="third slide">
                            </slide>
                            <slide>
                                <img src="assets/image/d.png" alt="fourth slide">
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-Content4-->

    <!--Start-Content5-->
    <section id="content5">
        <div class="content5">
            <h2>Gallery</h2>
            <div class="title-divider"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="resume-item-box">
                            <img src="assets/image/15.jpg" style='width: auto;height: 200px;' alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="resume-item-box">
                            <img src="assets/image/16.jpg" style='width: auto;height: 200px;' alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="resume-item-box">
                            <img src="assets/image/17.jpg" style='width: auto;height: 200px;' alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="resume-item-box">
                            <img src="assets/image/18.jpg" style='width: auto;height: 200px;' alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="resume-item-box">
                            <img src="assets/image/21.jpg" style='width: auto;height: 200px;' alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="resume-item-box">
                            <img src="assets/image/22.jpg" style='width: auto;height: 200px;' alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-Content5-->

    <!--Start-Content6-->
    <section id="content6">
        <div class="content6">
            <h2>Contact</h2>
            <div class="title-divider"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-30">
                        <div class="1">
                            <h4><i class="fa-solid fa-envelope" style='font-size:25px;color:#F56632;'></i> E-mail : naybanksorryza123@gmail.com</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-30">
                        <div class="2">
                            <h4><i class="fa-brands fa-line" style='font-size:25px;color:#1C9800;'></i> Line : banksorryza123</h4>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 mb-30">
                        <div class="3">
                            <h4><i class="fa-solid fa-phone" style='font-size:25px;color:#00E7DE;'></i> Phone : +6681-1879691</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-30">
                        <div class="4">
                            <h4><i class="fa-brands fa-facebook" style='font-size:25px;color:#045EA2;'></i> Facebook : Bank Kittikorn'n</h4>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 mb-30">
                        <div class="5">
                            <h4><i class="fa-solid fa-location-arrow" style='font-size:25px;color:#ffbd39;'></i> Address : Heng Dorm, Soi Itsaraphap 11, Hiranruchi Subdistrict, Thonburi District, Bangkok 10600</h4>
                            <!--Google map-->
                            <div id="map-container-google-2" class="z-depth-1-half map-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d484.47391835373537!2d100.49272537088204!3d13.73107874222401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298fc64a501e9%3A0xbf453aa8812c7e23!2z4Lir4Lit4Lie4Lix4LiBIOC5gOC4ruC4hw!5e0!3m2!1sth!2sus!4v1647805757894!5m2!1sth!2sus"
                                    style="display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-top: 30px;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                            <!--Google Maps-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-Content6-->
</body>