@media only screen and (max-width:767px) {
    .navbar {
        display: none;
    }
}

.navbar {
    overflow: hidden;
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar .navbar-nav {
    margin: 0 0 0 45rem;
}

.container-fluid .navbar-collapse .nav-item a {
    color: #fff;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}


/*******************************banner************************************/

@media only screen and (max-width:767px) {
    .banner .container-fluid .row {
        flex-direction: column;
    }
    .banner .container-fluid .col-md-6 .hero-caption {
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }
    .banner h5,
    .banner span {
        color: #ffbd39;
    }
    .banner h2,
    .banner p {
        color: #fff;
    }
    .banner .container-fluid .col-md-6 .hero-caption-full {
        width: 100%;
        padding: 50px;
        top: 0;
    }
    .banner .container-fluid .col-md-6 .heor-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        width: 500px;
        height: 580px;
    }
}

section .banner .container-fluid {
    background-color: #202020;
    height: 100%;
    width: auto;
}

.banner h5,
.banner span {
    color: #ffbd39;
}

.banner h2,
.banner p {
    color: #fff;
}

.banner img {
    display: block;
}

.banner .container-fluid .col-md-6 {
    padding-top: 5.5rem;
}

.banner .container-fluid .col-md-6 .hero-caption {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-top: 10rem;
}

.banner .container-fluid .col-md-6 .hero-caption-full {
    width: 100%;
    padding-left: 95px;
}

.banner .container-fluid .col-md-6 .hero-caption-full a {
    background-color: #7b68ee;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
}

.banner .container-fluid .col-md-6 .heor-img img {
    right: 5%;
    /* top: 40px; */
    bottom: 0;
    width: 500px;
    height: 580px;
}


/*********************************content1***************************************/

@media only screen and (max-width:767px) {
    section .content1 {
        background-color: #333533;
        height: 100%;
    }
    section .content1 .container-fluid .row {
        flex-direction: column;
    }
}

section .content1 .container-fluid {
    background-color: #333533;
    height: 100%;
    width: auto;
}

.content1 {
    width: 100%;
    height: auto;
}

.content1 .about-info {
    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.content1 h4,
.content1 span {
    color: #ffbd39;
}

.content1 p {
    font-size: 1rem;
}

.content1 h2,
.content1 h5,
.content1 p {
    color: #fff;
}

.content1 .about-info ul {
    display: inline-block;
}

.content1 .about-info ul a {
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
}

.content1 .about-info li a {
    color: #fff;
}


/****************************content2**********************************/

@media only screen and (max-width:767px) {
    section .content2 .ps-timeline-sec {
        background: #202020;
        height: 100%;
        width: auto;
        border: #202020 1px solid;
    }
    section .content2 .container-fluid .row {
        flex-direction: column;
    }
    section .ps-timeline-sec {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

section .content2 .ps-timeline-sec {
    background: #202020;
    height: 100%;
    width: auto;
    border: #202020 1px solid;
}

section .ps-timeline-sec {
    padding-top: 80px;
    padding-bottom: 50px;
}

section .ps-timeline-sec h2 {
    text-align: center;
    color: #fff;
}

section .ps-timeline-sec h3 {
    color: #fff;
    padding-top: 40px;
}

section .ps-timeline-sec p {
    padding-top: 20px;
}

section .ps-timeline-sec h5,
section .ps-timeline-sec p {
    color: #fff;
}

.resume-item-box span {
    background: #ffbd39;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 14px;
    display: inline-block;
    border-radius: 20px;
}

.resume-item-box {
    margin-top: 30px;
    padding: 30px 20px;
    text-align: left;
    box-shadow: 0px 2px 5px #4d4b4b;
}


/***************************content3*******************************/

@media only screen and (max-width:767px) {
    section .content3 {
        background-color: #333533;
        height: 100%;
        width: auto;
    }
    section .content3 .container-fluid .row {
        flex-direction: column;
    }
}

section .content3 .container-fluid {
    background-color: #333533;
    height: 100%;
    width: auto;
}

section .content3 .skill h2 {
    color: #fff;
    text-align: center;
}

section .content3 .skill .container {
    width: auto;
    background-color: #ddd;
    padding: 0;
    border-radius: 25px;
}

section .content3 .container-fluid .row .col-md-6 {
    height: 100vh;
}

section .content3 .container-fluid .row .col-md-6 .skill {
    height: auto;
    padding-top: 80px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

section .content3 .skill p {
    text-align: left;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 3px;
}

.skills {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
}

.html,
.css,
.js,
.php,
.bootstrap,
.sql,
.angular,
.bi,
.figma,
.adobe,
.illustrator,
.ms {
    border-radius: 25px;
}

.html {
    width: 95%;
    background-color: #FF6633;
}

.css {
    width: 80%;
    background-color: #0099FF;
}

.js {
    width: 65%;
    background-color: #FFD166;
}

.php {
    width: 60%;
    background-color: #0066CC;
}

.bootstrap {
    width: 85%;
    background-color: #6633CC;
}

.sql {
    width: 70%;
    background-color: #FF8C00;
}

.angular {
    width: 65%;
    background-color: #CC0033;
}

.bi {
    width: 70%;
    background-color: #FFD700;
}

.figma {
    width: 80%;
    background-color: #2E8B57;
}

.adobe {
    width: 70%;
    background-color: #4EA8DE;
}

.illustrator {
    width: 70%;
    background-color: #FCA311;
}

.ms {
    width: 95%;
    background-color: #FC4121;
}


/*******************************/

.title-divider {
    width: 150px;
    height: 2px;
    background: #ffbd39;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-divider:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: -7px;
    margin: 0 auto;
    border: 3px solid #ffbd39;
}


/**************************content4***********************/

@media only screen and (max-width:767px) {
    section .content4 {
        background-color: #202020;
        height: 100%;
        width: auto;
    }
    section .content4 .container-fluid .row {
        flex-direction: column;
    }
    .container-fluid .col-md-12 h2 {
        color: #fff;
        text-align: center;
        padding-top: 40px;
    }
    .content4 .container-fluid slide img {
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
}

section .content4 .container-fluid {
    background-color: #202020;
    height: 100%;
    width: auto;
}

.container-fluid .col-md-12 h2 {
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.content4 .container-fluid slide {
    position: relative;
}

.content4 .container-fluid slide img {
    height: 500px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/**************************content5***********************/

@media only screen and (max-width:767px) {
    section .content5 {
        background-color: #333533;
        height: 100%;
        width: auto;
    }
    section .content5 .container-fluid .row {
        flex-direction: column;
    }
    .content5 .resume-item-box {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

section .content5 {
    background-color: #333533;
    height: 100%;
    width: auto;
}

section .content5 h2 {
    text-align: center;
    color: #fff;
    padding-top: 70px;
}

.content5 .resume-item-box span {
    background: #ffbd39;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 14px;
    display: inline-block;
    border-radius: 20px;
}

.content5 .resume-item-box {
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 15px 10px;
    text-align: left;
    box-shadow: 0px 2px 5px #4d4b4b;
}

.content5 .resume-item-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content5 .ps-timeline-sec h5,
.content5 .ps-timeline-sec p {
    color: #fff;
}


/**************************content6***********************/

@media only screen and (max-width:767px) {
    section .content6 {
        background-color: #202020;
        height: 100%;
        width: auto;
    }
    section .content6 .container-fluid .row {
        flex-direction: column;
    }
    .map-container-2 {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }
    .map-container-2 iframe {
        left: 0;
        top: 0;
        height: 10rem;
        width: 10rem;
        position: absolute;
    }
    section .content6 .container .row .col-lg-12 {
        margin-bottom: 40px;
    }
}

section .content6 {
    background-color: #202020;
    height: 100%;
    width: auto;
}

section .content6 h2 {
    text-align: center;
    color: #fff;
    padding-top: 70px;
}

section .content6 h4 {
    color: #fff;
    text-align: left;
}

.content6 h4 span {
    color: #ffbd39;
}

section .content6 .container .row .col-lg-6,
section .content6 .container .row .col-lg-12 {
    padding: 2.5px;
    margin-top: 7px;
}

section .content6 .container .row .col-lg-12 {
    margin-bottom: 40px;
}

.map-container-2 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}